:root {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

body {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.main {
    min-height: 100vh;
    display: flex;
    z-index: 99;
}

.main__screen {
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/images/main-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main__title {
    margin-bottom: 100px;
    font-size: 60px;
    line-height: 68px;
    color: rgb(222, 220, 220);
}

.start {
    width: 150px;
    height: 70px;
    display: block;
    margin: 0 auto;
}

.btn.start {
    width: 100%;
    height: 100%;
}

.btn.start span {
    padding: 20px;
    font-size: 28px;
    line-height: 36px;
    color: #fff;
}

.app {
    min-height: 100vh;
    display: flex;
}

.container {
    width: 1440px;
    max-width: 1440px;
    margin: auto;
    padding: 0 10px;
}

.glass {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
}

.screen {
    min-height: 800px;
    background-image: url(../assets/images/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    cursor: url('../assets/images/lookup.svg'), zoom-in;
}

.item {
    height: 74px;
    border: 2px solid transparent;
    position: absolute;
    cursor: pointer;
}

.item img {
    height: 100%;
}

.bear {
    height: 80px;
    bottom: 292px;
    left: 300px;
    transform: scaleX(-1);
}

.bottle {
    top: 172px;
    right: 575px;
    opacity: 0.8;
}

.cat {
    bottom: 106px;
    right: 158px;
    transform: rotate(-17deg);
    overflow: hidden;
}

.cat img {
    transform: scale(1.3) translate(28.5px, 0px);
}

.coin {
    height: 20px;
    bottom: 156px;
    left: 45px;
    transform: rotate(45deg);
    opacity: 0.5;
}

.collar-r {
    width: 55px;
    height: 55px;
    top: 295px;
    right: 207px;
    opacity: 0.6;
    overflow: hidden;
    z-index: 9;
}

.collar-r img {
    transform: scale(1.5) translate(0px, 18px);
}

.diary {
    height: 50px;
    bottom: 20px;
    left: 30px;
    opacity: 0.9;
}

.dog {
    width: 45px;
    height: 55px;
    top: 295px;
    right: 206px;
    overflow: hidden;
    opacity: 0.6;
}

.dog img {
    transform: scale(1.5) translate(-12px, 8px);
}

.keys {
    height: 14px;
    width: 19px;
    bottom: 16px;
    left: 450px;
    transform: rotate(185deg);
    overflow: hidden;
}

.keys img {
    height: 23px;
}

.lock {
    height: 25px;
    bottom: 365px;
    right: 634px;
    transform: rotate(-10deg);
}

.note {
    top: 250px;
    right: 280px;
    transform: rotate(8deg);
}

.pc {
    height: 80px;
    right: 345px;
    bottom: 266px;
    transform: rotate(7deg);
}

.phone {
    height: 40px;
    bottom: 196px;
    right: 530px;
    transform: rotate(37deg);
}

.photo {
    height: 38px;
    top: 328px;
    right: 580px;
}

.socks {
    right: 340px;
    bottom: 25px;
    transform: rotate(55deg);
    opacity: 0.9;
}

.spider {
    height: 50px;
    top: 45px;
    right: 50px;
}

.switch {
    height: 40px;
    bottom: 190px;
    left: 250px;
    transform: rotate(-2deg);
}

.screen__video {
    max-width: 720px;
    max-height: 500px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease-in-out;
}

.screen__video .close {
    margin-right: 5px;
}

.video {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.info {
    height: 100px;
    display: none;
    background-image: url(../assets/images/info-bg.jpg);
    background-position: center;
    transition: all 0.3s ease-in-out;
}

.info__active {
    display: block;
}

.info__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.info__item {
    height: 70px;
}

.info__img {
    height: 50px;
}

.info__img img {
    height: 100%;
}

.info__status {
    display: inline-block;
    color: #fff;
}

.info__status img {
    width: 16px;
    height: 16px;
    display: none;
    margin-left: 5px;
    vertical-align: middle;
}

.info__status img.visible {
    display: inline-block;
}

.screen__story,
.screen__skip,
.screen__gameover {
    width: 500px;
    height: 200px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease-in-out;
}

.screen__story {
    padding: 20px;
}

:is(.screen__skip, .screen__video, .screen__story) span {
    width: 16px;
    height: 16px;
    align-self: flex-end;
    cursor: pointer;
}

.active {
    display: flex;
}

.screen__story-title,
.screen__title {
    margin: 0 auto;
}

.screen__story-title {
    font-size: 30px;
    line-height: 38px;
    text-align: center;
}

.screen__text {
    max-width: 430px;
    margin: 10px auto;
    font-size: 24px;
    line-height: 32px;
}

.screen__text.story {
    font-size: 20px;
    line-height: 28px;
}

.screen__gameover {
    width: 720px;
    height: 480px;
}

.screen__gameover .screen__text {
    max-width: 600px;
    text-align: center;
}

.btn.pay,
.btn.reload {
    max-width: 100px;
    display: block;
    margin: 0 auto;
    background-color: #46db55;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
}

.btn.pay span,
.btn.reload span {
    padding: 10px;
    color: #fff;
    font-size: 20px;
    line-height: 28px;
}

.screen__features {
    width: 190px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.start,
.skip,
.help {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

:is(.help, .skip, .start) .btn {
    background-color: transparent;
    outline: none;
}

:is(.help, .skip) .btn span {
    padding: 10px;
    color: #fff;
} 

.found {
    border: 2px solid #61daf9;
    opacity: 1;
}

.interesting {
    border: 2px solid #53b883;
    opacity: 1;
}

.skipped {
    border: 2px solid #de3433;
    opacity: 1;
}

.close,
.counter {
    display: inline-block;
}

.main.hidden,
.app.hidden,
.close.hidden,
.counter.hidden {
    display: none;
}